<% content_for :extra_headers do %>
  <%= education_navigation_variant.analytics_meta_tag.html_safe if ab_test_applies? %>
<% end %>

<%= render layout: 'shared/base_page_core_layout', locals: {
  title: @publication.title,
  publication: @publication,
  edition: @edition,
} do %>
  <section>
    <% introductory_paragraph_text = capture do %>
      <%= @publication.introductory_paragraph.try(:html_safe) %>
      <% if @publication.downtime_message.present? %>
        <div class="application-notice help-notice">
          <p><strong><%= @publication.downtime_message %></strong></p>
        </div>
      <% end %>
    <% end %>
    <%= render "govuk_component/govspeak", content: introductory_paragraph_text %>

    <% button_info_text = capture do %>
      <% if @publication.will_continue_on.present? %>
        <%= t 'formats.transaction.on' %> <%= @publication.will_continue_on %>
      <% end %>
    <% end %>
    <p id="get-started" class="margin-bottom-1">
      <%= render "govuk_component/button", {
        href: @publication.transaction_start_link,
        text: @publication.start_button_text,
        info_text: button_info_text,
        start: true
      } %>
    </p>
  </section>

  <section>
    <% additional_information_text = capture do %>
      <%- if @publication.multiple_more_information_sections? -%>
        <%= render :partial => 'additional_information_tabbed', :locals => {:transaction => @publication } %>
      <%- else -%>
        <%= render :partial => 'additional_information_single', :locals => {:transaction => @publication } %>
      <%- end -%>
    <% end %>
    <%= render "govuk_component/govspeak", content: additional_information_text %>
  </section>

  <% if @publication.department_analytics_profile.present? %>
    <%= render :partial => 'cross_domain_analytics',
               :locals => { :transaction => @publication } %>
  <% end %>
<% end %>
